{% extends "skeleton" %}
{% from "scoreboard/helpers" import competitiondiv %}

{% block title "Final Scores" %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% if collapse %}
        <script type="text/javascript">
            $(function () {
                $('.nonplacers').hide();
                $('.show-link').show();
            });
            var expandScores = function (id) {
                $('#competition-' + id + ' .show-link').hide();
                $('#competition-' + id + ' .nonplacers').show(500);
                $('#competition-' + id + ' .hide-link').show();
            };
            var collapseScores = function (id) {
                $('#competition-' + id + ' .hide-link').hide();
                $('#competition-' + id + ' .nonplacers').hide(500);
                $('#competition-' + id + ' .show-link').show();
            };
        </script>
    {% endif %}

    <script type="text/javascript">
        $(function() {
            $("#yearSelect").val("{{ year }}").change(function() {
                var selected = parseInt(this.value);
                $("#yearSelectForm").attr("action", "{{ route('dashboard') }}/" + selected + {{ collapse ? "'/hall-of-fame'" : "'/final'" }}).submit();
            });
        });
    </script>
{% endblock scripts %}

{% block body %}
    {% if not year %}
        {% set year = "now"|date('y') %}
    {% endif %}
    <form id="yearSelectForm" action="{{ route('dashboard.hof', year) }}">
        <label for="yearSelect">
            {% if collapse %}
                Hall of Fame for:
            {% else %}
                Final Scores for:
            {% endif %}
        </label>
        <select id="yearSelect">
            {% for yearDistinct in years %}
                <option value="{{ yearDistinct.year }}">Fall {{ yearDistinct.year }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="competitions">
        {% for competition in competitions %}
        {{ competitiondiv(competition, collapse) }}
        {% else %}
        <div class="announcement">
            No event scores have been finalized yet. Keep checking back!
        </div>
        {% endfor %}
    </div>

{% endblock body %}

